# Import all the things that I needed

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read the Csv File

In [68]:
df=pd.read_csv("choclate.csv")

df

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,profit %
0,Ram Mahesh,New Zealand,70% Dark Bites,"$1,624",114,14,"1,652",-$28,-2%
1,Brien Boise,USA,Choco Coated Almonds,"$6,706",459,9,"3,970","$2,736",41%
2,Husein Augar,USA,Almond Choco,$959,147,12,"1,746",-$787,-82%
3,Carla Molina,Canada,Drinking Coco,"$9,632",288,6,"1,863","$7,769",81%
4,Curtice Advani,UK,White Choc,"$2,100",414,13,"5,444","-$3,344",-159%
...,...,...,...,...,...,...,...,...,...
295,Gunar Cockshoot,New Zealand,Almond Choco,$938,366,12,"4,348","-$3,410",-364%
296,Gunar Cockshoot,Australia,Baker's Choco Chips,"$8,841",303,6,"1,697","$7,144",81%
297,Barr Faughny,UK,Peanut Butter Cubes,"$4,018",126,12,"1,559","$2,459",61%
298,Carla Molina,New Zealand,Raspberry Choco,$714,231,12,"2,710","-$1,996",-280%
299,Husein Augar,Australia,White Choc,"$3,850",102,13,"1,341","$2,509",65%

# How many Rows & Columns are available here

In [69]:
df.shape

(300, 9)

# Name of the All columns

In [70]:
df.columns

Index(['Sales Person', 'Geography', 'Product', 'Amount', 'Units',
       'cost per unit', 'Cost', 'Profit', 'profit %'],
      dtype='object')

# Find first 50 Data

In [71]:
df.head(50)

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,profit %
0,Ram Mahesh,New Zealand,70% Dark Bites,"$1,624",114,14,"1,652",-$28,-2%
1,Brien Boise,USA,Choco Coated Almonds,"$6,706",459,9,"3,970","$2,736",41%
2,Husein Augar,USA,Almond Choco,$959,147,12,"1,746",-$787,-82%
3,Carla Molina,Canada,Drinking Coco,"$9,632",288,6,"1,863","$7,769",81%
4,Curtice Advani,UK,White Choc,"$2,100",414,13,"5,444","-$3,344",-159%
5,Ram Mahesh,USA,Peanut Butter Cubes,"$8,869",432,12,"5,344","$3,525",40%
6,Curtice Advani,Australia,Smooth Sliky Salty,"$2,681",54,6,313,"$2,368",88%
7,Brien Boise,USA,After Nines,"$5,012",210,10,"2,052","$2,960",59%
8,Ches Bonnell,Australia,50% Dark Bites,"$1,281",75,12,878,$404,31%
9,Gigi Bohling,New Zealand,50% Dark Bites,"$4,991",12,12,140,"$4,851",97%
10,Barr Faughny,UK,White Choc,"$1,785",462,13,"6,075","-$4,290",-240%
11,Gunar Cockshoot,New Zealand,Eclairs,"$3,983",144,3,448,"$3,535",89%
12,Husein Augar,Australia,Mint Chip Choco,"$2,646",120,9,"1,055","$1,591",60%
13,Barr Faughny,India,Milk Bars,$252,54,9,504,-$252,-100%
14,Gunar Cockshoot,USA,White Choc,"$2,464",234,13,"3,077",-$613,-25%
15,Gunar Cockshoot,USA,Manuka Honey Choco,"$2,114",66,7,473,"$1,641",78%
16,Curtice Advani,New Zealand,Smooth Sliky Salty,"$7,693",87,6,504,"$7,189",93%
17,Gigi Bohling,India,Orange Choco,"$15,610",339,11,"3,600","$12,010",77%
18,Carla Molina,India,After Nines,$336,144,10,"1,407","-$1,071",-319%
19,Barr Faughny,UK,Orange Choco,"$9,443",162,11,"1,720","$7,723",82%
20,Husein Augar,India,Fruit & Nut Bars,"$8,155",90,6,584,"$7,571",93%
21,Brien Boise,Australia,Fruit & Nut Bars,"$1,701",234,6,"1,519",$182,11%
22,Oby Sorrel,Australia,After Nines,"$2,205",141,10,"1,378",$827,38%
23,Brien Boise,New Zealand,99% Dark & Pure,"$1,771",204,8,"1,559",$212,12%
24,Carla Molina,USA,Raspberry Choco,"$2,114",186,12,"2,182",-$68,-3%
25,Carla Molina,Canada,Milk Bars,"$10,311",231,9,"2,155","$8,156",79%
26,Gunar Cockshoot,UK,Mint Chip Choco,$21,168,9,"1,477","-$1,456",-6932%
27,Oby Sorrel,USA,Orange Choco,"$1,974",195,11,"2,071",-$97,-5%
28,Gigi Bohling,Canada,Fruit & Nut Bars,"$6,314",15,6,97,"$6,217",98%
29,Oby Sorrel,New Zealand,Fruit & Nut Bars,"$4,683",30,6,195,"$4,488",96%
30,Carla Molina,New Zealand,85% Dark Bars,"$6,398",102,5,507,"$5,891",92%
31,Barr Faughny,USA,99% Dark & Pure,$553,15,8,115,$438,79%
32,Brien Boise,UK,70% Dark Bites,"$7,021",183,14,"2,652","$4,369",62%
33,Ram Mahesh,UK,After Nines,"$5,817",12,10,117,"$5,700",98%
34,Carla Molina,UK,50% Dark Bites,"$3,976",72,12,842,"$3,134",79%
35,Curtice Advani,Australia,Organic Choco Syrup,"$1,134",282,17,"4,718","-$3,584",-316%
36,Barr Faughny,UK,Caramel Stuffed Bars,"$6,027",144,10,"1,495","$4,532",75%
37,Curtice Advani,New Zealand,Mint Chip Choco,"$1,904",405,9,"3,560","-$1,656",-87%
38,Ches Bonnell,India,Choco Coated Almonds,"$3,262",75,9,649,"$2,613",80%
39,Ram Mahesh,India,Organic Choco Syrup,"$2,289",135,17,"2,259",$30,1%
40,Gigi Bohling,India,Organic Choco Syrup,"$6,986",21,17,351,"$6,635",95%
41,Barr Faughny,Australia,Fruit & Nut Bars,"$4,417",153,6,993,"$3,424",78%
42,Curtice Advani,India,Raspberry Choco,"$1,442",15,12,176,"$1,266",88%
43,Gunar Cockshoot,USA,50% Dark Bites,"$2,415",255,12,"2,984",-$569,-24%
44,Barr Faughny,New Zealand,99% Dark & Pure,$238,18,8,138,$100,42%
45,Curtice Advani,New Zealand,Fruit & Nut Bars,"$4,949",189,6,"1,227","$3,722",75%
46,Gigi Bohling,Australia,Choco Coated Almonds,"$5,075",21,9,182,"$4,893",96%
47,Gunar Cockshoot,Canada,Mint Chip Choco,"$9,198",36,9,316,"$8,882",97%
48,Curtice Advani,India,Manuka Honey Choco,"$3,339",75,7,537,"$2,802",84%
49,Ram Mahesh,India,Eclairs,"$5,019",156,3,485,"$4,534",90%

# Try to find that is there any Null values or Not

In [72]:
df.isna()

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,profit %
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
295,False,False,False,False,False,False,False,False,False
296,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False

In [73]:
df.isnull().sum()

Sales Person     0
Geography        0
Product          0
Amount           0
Units            0
cost per unit    0
Cost             0
Profit           0
profit %         0
dtype: int64

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   300 non-null    object
 1   Geography      300 non-null    object
 2   Product        300 non-null    object
 3   Amount         300 non-null    object
 4   Units          300 non-null    int64
 5   cost per unit  300 non-null    int64
 6   Cost           300 non-null    object
 7   Profit         300 non-null    object
 8   profit %       300 non-null    object
dtypes: int64(2), object(7)
memory usage: 21.2+ KB

# Cleaning the Data

### Replace the dollar sign from Amount & Profit

In [77]:
df['Amount']=df['Amount'].str.replace('$','',regex=True)
df['Amount']=df['Amount'].str.replace(',','',regex=True)
df['Amount']=df['Amount'].astype(np.int64)

In [78]:
df['Profit']=df['Profit'].str.replace('$','',regex=True)
df['Profit']=df['Profit'].str.replace(',','',regex=True)
df['Profit']=df['Profit'].astype(np.int64)

In [79]:
df['Cost']=df['Units'] * df['cost per unit']

In [80]:
df['Profit']= df['Amount'] - df['Cost']

In [84]:
df['profit %'] =df['Profit'] / df['Amount']

In [85]:
df['profit %'] =df['profit %'] *100

In [89]:
df['profit %'] =df['profit %'].round(2).astype(str) +'%'

In [91]:
df=df.rename(columns={'profit %' : 'Profit_Percentage'})

In [92]:
df.head(10)

,Sales Person,Geography,Product,Amount,Units,cost per unit,Cost,Profit,Profit_Percentage
0,Ram Mahesh,New Zealand,70% Dark Bites,1624,114,14,1596,28,1.72%
1,Brien Boise,USA,Choco Coated Almonds,6706,459,9,4131,2575,38.4%
2,Husein Augar,USA,Almond Choco,959,147,12,1764,-805,-83.94%
3,Carla Molina,Canada,Drinking Coco,9632,288,6,1728,7904,82.06%
4,Curtice Advani,UK,White Choc,2100,414,13,5382,-3282,-156.29%
5,Ram Mahesh,USA,Peanut Butter Cubes,8869,432,12,5184,3685,41.55%
6,Curtice Advani,Australia,Smooth Sliky Salty,2681,54,6,324,2357,87.91%
7,Brien Boise,USA,After Nines,5012,210,10,2100,2912,58.1%
8,Ches Bonnell,Australia,50% Dark Bites,1281,75,12,900,381,29.74%
9,Gigi Bohling,New Zealand,50% Dark Bites,4991,12,12,144,4847,97.11%

## Total Amount that all the sales person have used for various kinds of choclate all over the world